@inherits LayoutComponentBase

<aside class="sidebar">
    <NavMenu />
</aside>

<main class="main-section">
	<section class="intro-section">
		<h2 class="title">TODO APP</h2>
		<p class="text">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta dolores
			ipsam itaque. Odit reprehenderit sint quaerat quas quo, numquam
			repellat asperiores, quis autem velit quam atque voluptatibus cumque
			placeat tempore!
		</p>
	</section>
	<section class="base-section">
		<div class="left-part">
			<label for="">Add</label>
			<input type="text" id="input-field" />
			<button type="button" id="subBtn">
				Submit
			</button>
		</div>
		<div class="right-part">
			<label for="">Items List</label>
			<ul id="list">
				
			</ul>
		</div>
	</section>
</main>