<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">SoftserveProject</a>
    <button class="navbar-toggler" @onclick="@ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="@ToggleNavMenu">
	<ul class="nav flex-column">
		<li>
			<div class="img-wrapper">
				<img src="https://www.bonestudio.net/wp-content/uploads/2018/11/Homer-Simpson-Donut-T-Shirt-display.png"
					 alt="selfie" />
			</div>
			<h3 class="name">Homer Simpson</h3>
		</li>
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
				<span class="oi oi-home" aria-hidden="true"></span> Home
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
				<span class="oi oi-home" aria-hidden="true"></span>Notes
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
				<span class="oi oi-trash" aria-hidden="true"></span>Trash
			</NavLink>
		</li>
		<li>

		</li>
	</ul>
</div>

@code {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
